---
layout: default
---
<section class="section list-page">
  <header class="page-header">
    <h1>{{ page.title }}</h1>
    {% if page.description %}
      <p class="lead">{{ page.description }}</p>
    {% endif %}
  </header>
  {{ content }}
  <ul class="post-list">
    {% if page.list == 'gsoc' %}
      {% assign items = site.gsoc | sort: 'date' | reverse %}
    {% else %}
      {% assign items = site.posts %}
    {% endif %}
    {% for post in items %}
      <li>
        <a href="{{ post.url | relative_url }}">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
          <span>{{ post.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
